.blogCreate {
    background-color: #2ba3ab;
    padding: 10px 15px 5px 10px;
    border-radius: 15px;
}
.blogCreate button {
    background-color: #163c3f;
    color: #eee;
}
.blogCreate button:hover, .blogPost button:hover {
    background-color: #163c3f9a;
}
.blogPost {
    background-color: #26676c;
    padding: 10px 15px 5px 10px;
    border-radius: 15px;
    margin: 15px 0;
}
.blogPost a:hover .qu {
    transition: all .2s ease-in-out;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
    transform: scale(1.03);
}
.blogPost .bottomButton {
    background-color: #163c3f;
    color: #eee;
    padding: 5px 45px !important;
}
.createComment>.commentBox  {
    display: flex;
    align-items: center;
}
.createComment {
    border: 1px solid #25494c;
    border-radius: 10px;
    padding: 10px;
}
.createComment textarea {
    background-color: rgba(238, 238, 238, 0.788);
    padding: 10px;
    border-radius: 10px;
}
.createComment textarea::placeholder {
    opacity: 1 !important;
    color: #5a5a5a !important;
}
.createComment button {
    background-color: #163c3f;
    color: #eee;
    margin: 10px 0;
}

@media (max-width: 500px) {
    .blogPost .bottomButton {
        padding: 5px 30px !important;
    }
}
@media (max-width: 400px) {
    .blogPost .bottomButton {
        padding: 3px 25px !important;
    }
}